/* src/app/components/ui/Hero.module.css */
.heroContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Adjust height as needed */
    width: 100%;
    height: 500px;
    /* Adjust width as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Ensure the background doesn't overflow */
    background-image: url('/Jotoro_BG.png');
    background-size: cover;
    background-repeat: repeat;
    animation: moveBackground 10s linear infinite;
    z-index: -1;
}
.dimBG {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 15rem 0 rgba(0, 0, 0);
    overflow: hidden;
    background: inherit;
    /*  background-color: rgba(0, 0, 0, 0.5); *?
    /* Black with 30% opacity */
    /* Adjust the blur as needed */
    z-index: 1;
    /* Ensures the frosted effect is behind the content */


}

/*.container {
    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
   */
.dimBG:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 9000px rgba(0, 0, 0);
    margin: -20px;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.heroContent {
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    /* Ensures the content is above the frosted effect */
    text-align: center;
    color: #fff;
    /* Adjusted for contrast against darker background */
}